@font-face {
    font-family:"Benton Sans Wide Light" ;
    src: url(./Fonts/benton-sans-wide-light.ac0b37b.ttf);
}

@font-face {
    font-family: "Happy Times at the IKOB New Game Plus Edition";
    src: url(./Fonts/happy-times-at-the-ikob-italic-webfont.5e10f43.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    font-family:"Benton Sans Wide Light";
}

#main{
    position: relative;
}

#loader{
    position: relative;
    height: 100vh;
    width: 100%;
    /* background-color: #b2b2b2; */
    /* background-color: #eaeaea; */
    background-color: rgb(40 100 26 / 69%);
    overflow: hidden;
    z-index: 9999999;
}

#loader_container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 2vw; */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

#loader_container img{
    height: 16vw;
    /* background-color: red; */
}

#loader_container h1{
    text-transform: uppercase;
    font-size: 16vw;
    /* color: #f3ff99; */
    color: black;
    /* background-color: blue; */
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #b2b2b2;
    background-color: #eaeaea;
    /* background-color: rgb(69, 57, 121); */
    background-color: rgb(40 100 26 / 69%);
}

#page1_container1{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    top: 3vw;
    /* background-color: red; */
}

#page1_container1 img{
    height: 16vw;
    /* background-color: red; */
}

#page1_container1 h1{
    text-transform: uppercase;
    font-size: 16vw;
    /* color: #f3ff99; */
    color: white;
    /* background-color: blue; */
    z-index: 100;
}

#hover_img{
    position: absolute;
    z-index: 1;
    height: 20vw;
    opacity: 0;
    z-index: 1;
}

#page1_container2{
    text-align: right;
    /* background-color: red; */
    padding-top: 1.5vw;
    padding-right:10vw;
}

#page1_container2 h2{
    font-size: 1.2vw;
    text-transform: uppercase;
    color: white;
}

#nav_bar{
    width: 100%;
    position: absolute;
    z-index: 9999;
    top: 9%;
    padding: 2vw 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}

#nav_bar #nav_left img{
    padding-left: 1vw;
    height: 3vw;
    animation-name: logo_rotate;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes logo_rotate {
    0%{
      rotate: 0;
    }
    100%{
      rotate: 360deg;
    }
}

#nav_bar #nav_right{
    display: flex;
    align-items: center;
    gap: 4vw;
}

#portfolio{
    position: absolute;
    top: -30%;
    height: 4vw;
    z-index: 999;
    display: none;
}

#values{
    position: absolute;
    top: -30%;
    left: 76%;
    height: 4vw;
    z-index: 999;
    display: none;
}

#nav_bar #nav_right h3{
    cursor: pointer;
    font-size: 1vw;
    text-transform: uppercase;
    font-weight:900;
    position: relative;
    mix-blend-mode:difference;
    color: white;
}

#nav_bar #nav_right h3::before{
    content: "";
    position: absolute;
    height: .1vw;
    width: 0%;
    background-color: black;
    top: 100%;
    transition: all ease .4s;
}

#nav_bar #nav_right h3:hover::before{
    width: 100%;
}

#page2{
    min-height: 100vh;
    width: 100%;
    /* background-color: blueviolet; */
}

#page2_container1{
    padding-top: 5vw;
    /* background-color: red; */
}

#page2_nav{
    padding: 3vw 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding-right: 5vw;
}

#page2_nav h3{
    cursor: pointer;
    border-radius: 2vw;
    padding: 1vw 3vw;
    /* border: 2px solid black; */
    font-size: 1.1vw;
    font-weight: 900;
    -webkit-text-stroke: .1px black;
    position: relative;
}


 #page2_nav h3::before{
    content: "";
    border: 0px solid black;
    position: absolute;
    /* height: 3.2vw; */
    width: 10%;
    top: 0;
    left: 0;
    border-radius: 2vw;
    transition: all ease-in-out .7s;
} 

#page2_nav h3:hover::before{
    height: 3.2vw;
    width: 100%;
    border: 2px solid black;
}


#elm1{
    border-radius: 2vw;
    padding: 1vw 3vw;
    border: 2px solid black;
    font-weight: 900;
}

#elm1::before{
    display: none;
}

#elm1::after{
    content: "18";
    position: absolute;
    top:10%;
    left: 70%;
    font-size: 1vw;
    font-family: "Happy Times at the IKOB New Game Plus Edition";
    font-weight: 100;
}
#elm2::after{
    content: "9";
    position: absolute;
    top:10%;
    left: 90%;
    font-size: 1vw;
    font-family: "Happy Times at the IKOB New Game Plus Edition";
    font-weight: 100;
}
#elm3::after{
    content: "6";
    position: absolute;
    top:10%;
    left: 85%;
    font-size: 1vw;
    font-family: "Happy Times at the IKOB New Game Plus Edition";
    font-weight: 100;
}
#elm4::after{
    content: "1";
    position: absolute;
    top:10%;
    left: 80%;
    font-size: 1vw;
    font-family: "Happy Times at the IKOB New Game Plus Edition";
    font-weight: 100;
}
#elm5::after{
    content: "2";
    position: absolute;
    top:10%;
    left: 90%;
    font-size: 1vw;
    font-family: "Happy Times at the IKOB New Game Plus Edition";
    font-weight: 100;
}

#page2_container2{
    padding: 5vw 10vw;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10vw;
    /* background-color: rgb(101, 101, 234); */
}

.page2_images img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
    padding-top: 5vw;
    padding-left:5vw;
    padding-right:5vw;
}

.page2_images{
    background-color: #0b2000;
    overflow: hidden;
    border-radius: 1vw;
    position: relative;
}

.image_cover{
    position: absolute;
    height: 0%;
    width: 100%;
    top: 0;
    /* left: 0; */
    background-color:#f3ff99;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    transition: all ease 1s;
}

#image_cover3{
    background-color: #f2f2f2;
}

#image_cover5{
    background-color: #c9c9c9;
}

#image_cover6{
    background-color: #f2f2f2;
}

.image_cover h1{
    padding-left: 2vw;
    font-size: 1.5vw;
}

.image_cover h2{
    padding-left: 2vw;
    font-size: 1vw;
    padding-bottom: 2vw;
    opacity: 70%;
}

.page2_images:hover .image_cover{
    height: 100%;
}

#image1{
    /* position: relative; */
    height: 20vw;
    width: 30vw;
    background-color: #0b2000;
}

#image2{
    /* position: relative; */
    top: 10vw;
    height: 30vw;
    width: 26vw;
    background-color:  #0b2000;
}

#image3{
    /* position: relative; */
    top: -10vw;
    height: 25vw;
    width: 20vw;
    left: 5vw;
    background-color: #2a7a00;
}

#image4{
    /* position: relative; */
    top: 10vw;
    height: 20vw;
    width: 30vw;
    background-color:  #0b2000;
}

#image5{
    /* position: relative; */
    top: -10vw;
    height: 30vw;
    width: 30vw;
    background-color: #0b2000;
}

#image6{
    /* position: relative; */
    top: 5vw;
    right: 4vw;
    height: 23vw;
    width: 20vw;
    background-color: #2a7a00;
}

#page2 button{
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 2vw;
    padding: .8vw 3vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2vw;
    margin-bottom: 5vw;
    background-color: transparent;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

#page2 button::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    width: 0%;
    background-color: #0b2000;
    border-radius: 2vw;
    z-index: -1;
    transition: all ease-in-out .3s;
}

#page2 button:hover::before{
    width: 100%;
}

#page2 button:hover{
    color: #f3ff99;
}

.ri-arrow-right-up-line{
    position: fixed;
    background-color: rgb(47, 185, 47);
    border-radius: 50%;
    color: white;
    left: 6%;
    z-index: 99999;
    font-size: 3vw;
    opacity: 1;
}

#page3{
    height: 100vh;
    width: 100%;
    /* background-color: lightpink; */
    padding: 1vw 2vw;
}

#page3_container{
    background-color: #f3ff99;
    height: 90%;
    width: 100%;
    border-radius: 1vw;
}

#page3_main_heading{
    padding: 0vw 8vw;
    font-size: 1.5vw;
    font-weight: 100;
    padding-top: 5vw;
}

span{
    font-weight: 100;
    font-family: "Happy Times at the IKOB New Game Plus Edition";
}

#page3_box{
    padding: 2vw 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(138, 68, 244); */
}

#page3_left{
    display: flex;
    flex-direction: column;
    gap: 1vw;
    /* background-color: green; */
}

#page3_left h4{
    position: relative;
    font-size: 1vw;
    padding: 1vw 8vw;
}

#page3_left h4::before{
    content: "";
    position: absolute;
    left: 0%;
    top: 0%;
    width: 0%;
    border-radius: 5vw;
    border: 0px solid black;
    transition: all ease .8s;
}

#page3_left h4:hover::before{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    cursor: pointer;
}

#page3_right{
    /* background-color: brown; */
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    /* gap: 3vw; */
    position: relative;
}

#page3_right .para{
    /* position: absolute; */
    width: 85%;
    font-weight: 900;
    /* background-color: red; */
    font-size: 2vw;
    line-height: 3vw;
}

#para2{
    display: none;
}
#para3{
    display: none;
}

/* Page 4 : */

#page4{   
    height: 90vh;
    width: 100%;
    background-color: rgb(40 100 26 / 69%);
    /* background-color: blue; */
    color: white;
    text-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#page4::-webkit-scrollbar{
    background: transparent;
}

#page4 h1{
    padding-top: 8vw;
    flex-shrink: 0;
    text-transform: uppercase;
    font-size: 20vw;
}

#page5{
    height: 100vh;
    width: 100%;
    /* background-color: rgb(40 100 26 / 69%); */
    background-color: black
}